<style>
* { box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');


body {
  font-family: 'Rubik', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.right {
  flex: 1;
  background-color: black;
  transition: 1s;
  background-image: url({{ url_for('static', filename='chess.jpg') }});
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.header > h2 {
  margin: 0;
  color: #4f46a5;
}

.header > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0,0,0,.4);
}

.form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.form > p {
  text-align: right;
}

.form > p > a {
  color: #000;
  font-size: 14px;
}

.form-field {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  transition: .2s;
  margin-top: 20px;
}

.form-field:focus {
  border-color: #0f7ef1;
}

.form > button {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #de48b5 0%,#0097ff 100%); 
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif;
}

.animation {
  animation-name: move;
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.a1 {
  animation-delay: 2s;
}

.a2 {
  animation-delay: 2.1s;
}

.a3 {
  animation-delay: 2.2s;
}

.a4 {
  animation-delay: 2.3s;
}

.a5 {
  animation-delay: 2.4s;
}

.a6 {
  animation-delay: 2.5s;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}
</style>
<div class="container">
  <div class="left">
    <div class="header">
      <h2 class="animation a1">Welcome</h2>
      <h4 class="animation a2">Enter Game details to predict the winner</h4>
    </div>
    <div class="form">
        <form action="/predict" method="POST">
          <select name="timeformat" id="timeformat" class="form-field animation a3"required>
            <option value="" disabled selected>Time Format</option>
            <option value="5+5" >5+5</option>
            <option value="5+8">5+8</option>
            <option value="8+0">8+0</option>
            <option value="10+0">10+0</option>
            <option value="10+5">10+5</option>
            <option value="10+10">10+10</option>
            <option value="15+0">15+0</option>
            <option value="15+5">15+5</option>
            <option value="15+10">15+10</option>
            <option value="15+15">15+15</option>
            <option value="20+0">20+0</option>
            <option value="30+0">30+0</option>
          </select>
      <input id="White_Rating" class="form-field animation a3" type="number" max=2700 min=700 name="White_Rating" placeholder="White_Rating"required/>
	  <input id="Black_Rating" class="form-field animation a3" type="number" max=2700 min=700 name="Black_Rating" placeholder="Black_Rating"required/>
      <select name="opening" id="opening"  class="form-field animation a3"required >
            <option selected value="" disabled selected>Chess Opening</option>
            <option value="Sicilian Defense">Sicilian Defense</option>
            <option value="French Defense">French Defense</option>
            <option value="Queen's Pawn Game">Queen's Pawn Game</option>
            <option value="Italian Game">Italian Game</option>
            <option value="King's Pawn Game">King's Pawn Game</option>
            <option value="Ruy Lopez">Ruy Lopez</option>
            <option value="English Opening">English Opening</option>
            <option value="Philidor Defense">Philidor Defense</option>
            <option value="Scandinavian Defense">Scandinavian Defense</option>
            <option value="Queen's Gambit Declined">Queen's Gambit Declined</option>
            <option value="Caro-Kann Defense">Caro-Kann Defense</option>
            <option value="Scotch Game">Scotch Game</option>
            <option value="Four Knights Game">Four Knights Game</option>
            <option value="Bishop's Opening">Bishop's Opening</option>
            <option value="Indian Game">Indian Game</option>
            <option value="Queen's Gambit Accepted">Queen's Gambit Accepted</option>
            <option value="Slav Defense">Slav Defense</option>
            <option value="King's Indian Defense">King's Indian Defense</option>
            <option value="Modern Defense">Modern Defense</option>
         </select>
	  <input type="submit" class="form-field animation a6" value="Predict"/>
        </form>
    </div>
  </div>
  <div class="right"></div>
</div>
